<div>
    <form name="payment_form" method="post" action="/users/create_order">
        <label>Amount:</label><br/>
        <input type="text" id="amount" name="amount" placeholder="Enter Amount in Rupees"/><br/><br/>
        <button id="order_button1">Create Order</button>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
</script>